.svn/
.vs/
/Library/
/Temp/
/obj/
/Logs/
/CustomCloudAssets/
/Assets/AutoStreamingData/
*.csproj
*.sln
*.vsconfig
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
Assets/Editor/UnityOnlineServicesData.meta
/Assets/Editor/UnityOnlineServicesData
Assets/Editor/UOSEnvironments.asset
Assets/Editor/UOSEnvironments.asset.meta
Assets/Resources/LocalAssets/WebData.bin
Assets/Resources/LocalAssets/WebData.bin.meta
Assets/Resources/UOSSettings.asset
Assets/Resources/UOSSettings.asset.meta
Assets/UOSLauncherEncrypt.meta
/Assets/UOSLauncherEncrypt
Assets/WX-WASM-SDK-V2.meta
Assets/WX-WASM-SDK-V2/Editor.meta
/Assets/WX-WASM-SDK-V2
/Build
/Bundles
/CDN
/TextToolDatas
WebData.txt
/Assets/Settings
Assets/Settings.meta
